* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #d3d3d8;
}

.button-wrapper {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  height: 200px;
  width: 300px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #a6ec7d;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  font-size: 24px;
  font-family: Fira Code;
}

.start:hover {
  color: #000000;
  background-color: #f3d424;
}

.cards {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.card-front {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #c9f5cb;
  backface-visibility: hidden;
}

.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #73c975;
  backface-visibility: hidden;
}

.card.flip {
  transform: rotateY(180deg);
}

.flipCounts {
  font-family: Fira Code;
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}
